.crossed{
  text-decoration: line-through;
  text-decoration-color: #4D2DB7;
  -webkit-text-decoration-line: line-through;
  -webkit-text-decoration-color: #4D2DB7;
  -webkit-text-decoration-thickness: 2px;
}

body{
  background-color: #4D2DB7;
  overflow-x: hidden;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_wrapper{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 500px;
  background-color: #EC53B0;
  padding: 20px 50px;
  border-radius: 20px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.margin-top{
  margin-top: 250px;
}

input{
  width: 100%;
}

h1{
  color: #fff;
  font-size: 74px;
  font-family: 'Titan One', cursive;
  letter-spacing: 8px;
  word-spacing: 28px;
}

button{
  background-color: #4D2DB7;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 14px 30px;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 30px;
  cursor: pointer;
}

input{
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
  border-style: none;
}

ul{
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 20px;
  color: #fff;
}

li{
  margin-bottom: 20px;
}

p, a{
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.container_pictures{
  position: relative;
  z-index: -1;
  opacity: 0.7;
}

.image_small{
  width: 100px;
  position: absolute;
}

.img1{
  top: 20px;
  left: 20px;
}

.img2{
  top: 200px;
  left: 280px;
}

.img3{
  top: 20px;
  left: 540px;
}

.img4{
  top: 200px;
  left: 800px;
}

.img5{
  top: 20px;
  left: 1060px;
}

.img6{
  top: 200px;
  left: 1320px;
}

.img7{
  top: 320px;
  left: 20px;
}

.img8{
  top: 500px;
  left: 280px;
}

.img9{
  top: 320px;
  left: 540px;
}

.img10{
  top: 500px;
  left: 800px;
}

.img11{
  top: 320px;
  left: 1060px;
}

.img12{
  top: 500px;
  left: 1320px;
}

@media all and (max-width: 1280px){
  h1{
    font-size: 44px;
  }

  .form_wrapper{
    width: auto;
  }
}

@media all and (max-width: 1375px){
  h1{
    font-size: 34px;
  }
}